@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Open+Sans&family=Roboto&family=Sofia&display=swap');
:root {
    --primary-color: #45ccb8;
    --primary-RGBA: rgba(0, 0, 0, 0.3);
    --light-gray: #2b3032a1;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: 'Roboto', sans-serif;
    --gugi: 'Gugi', cursive;
    --sofia: 'Sofia', cursive;
    --main-white: #fff;
    --main-black: #222;
    --main-transition: all 0.3s ease-in-out;
    --main-spacing: 0.3rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.primary-color {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color)!important;
}

.text-color {
    color: var(--text-color);
}

.font-roboto {
    font-family: var(--roboto);
}

.lightblue {
    color: lightblue;
}

.btxt {
    font-style: var( --roboto);
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.btxt:hover {
    text-decoration: none;
    color: var(--text-color);
}

.main-link {
    text-decoration: none !important;
    width: 210px;
    height: 80px;
    background: lightblue;
    font-size: 2rem;
    padding-left: 20px;
    transform: rotate(-30deg) skewX(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.main-link::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 80px;
    width: 20px;
    background: lightblue;
    transform: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.main-link::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: lightblue;
    transform: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.main-link:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px rgba(0, 0, 0, 0.5);
    background: var( --primary-color);
    text-decoration: none !important;
}


/**/


/*.text-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
}

.text-main {
    color: var(--primaryColor);
}

body {
    font-family: "Open Sans", sans-serif !important;
    background: var(--light-gray) !important;
    color: var(--mainBlack);
}

.main-link {
    padding: 0.5rem 1rem;
    background: var(--primaryColor);
    color: var(--mainWhite);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    outline: 2px solid var(--primaryColor);
    outline-offset: 4px;
    border: none;
    transition: var(--mainTransition);
}

.main-link:hover {
    background: var(--mainGrey);
    text-decoration: none;
    color: var(--primaryColor);
    outline-color: var(--darkGray);
}*/